.btn-container {
  background-color: #242424;
  padding: 12px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-decoration: none;
}

.btn-container .btn-container-txt {
  font-weight: bold;

  color: white; /* Transition for the filter property */
}

.btn-container:hover {
  filter: brightness(120%);
  transition: filter 0.25s ease;
}

@media screen and (max-width: 1024px) {
  .btn-container .btn-container-txt {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 811px) {
  .btn-container {
    width: 70%;
  }
}
