header {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5em;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  header {
    text-align: start;
  }
}

@media screen and (max-width: 811px) {
  header {
    font-size: 3em;
  }
}
