footer {
  bottom: 0;
  margin-top: 80px;
  height: 160px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 100vw;
  background-color: black;
  display: flex;
  border-top: 1px solid rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
