.activité-container {
  display: flex;
}

.activité-container .contentBlock-container {
  width: 30%;
}

.content-block {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-block h2,
span {
  max-width: 900px;
  margin-bottom: 20px;
}

#présentation-perso {
  max-width: 900px;
}

@media screen and (max-width: 1024px) {
  .content-block h2,
  .intro-text {
    max-width: 700px;
  }
}

@media screen and (max-width: 811px) {
  .content-block h2,
  .intro-text {
    max-width: 400px;
  }

  .activité-container {
    flex-direction: column;
    align-items: center;
  }

  .activité-container .contentBlock-container {
    width: 100%;
  }
}
