.activité-container {
  display: flex;
}

.activité-container .contentBlock-container {
  width: 30%;
}
.activité-container {
  max-width: 1200px;
}

.présentation-perso-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.présentation-perso-content p {
  width: 58%;
}

.content-block #pp {
  width: 36%;
  height: auto;
  border-radius: 20%;
  filter: brightness(90%);
}
.content-block {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CTA-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-block .title {
  max-width: 900px;
  margin-bottom: 32px;
  font-size: 1.8em;
}

.intro-block {
  max-width: 900px;
}

#présentation-perso {
  max-width: 900px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .content-block h2,
  .intro-text {
    max-width: 700px;
  }

  .activité-container {
    flex-direction: column;
    align-items: center;
    max-width: 600px;
  }

  .activité-container .contentBlock-container {
    width: 80%;
  }
}

@media screen and (max-width: 811px) {
  .content-block h2,
  .intro-text {
    max-width: 500px;
  }

  .présentation-perso-content {
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }
  .présentation-perso-content #pp {
    width: 200px;
    margin-bottom: 35px;
  }
  .présentation-perso-content p {
    width: 100%;
  }
  .activité-container {
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }
}
