.nav-container {
  display: flex;
  gap: 30px;
  margin: 30px 50px;
  width: fit-content;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 120px;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  #backBtn-container {
    display: none;
  }

  nav {
    justify-content: center;
  }
}

@media screen and (max-width: 811px) {
  nav {
    flex-direction: column;
  }

  .nav-container {
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }
}
